{% extends "layout.html" %}
{% block content %}
<div role="main" id="main" class="container shadow p-3" style="background-color: white">
    <h1>Source code</h1>
        <p>Presented algorithm is made using Python, source code could be finded in <a href="https://github.com/kalinkinisaac/modular" class="badge badge-primary">github repository</a></p>
    <h1>Executable application</h1>
        <p>At the current moment we provide apps for windows and mac:</p>
    <div class="list-group">
    <a href="https://sourceforge.net/projects/gamma-zero/files/modular_1.0_onefile.exe/download" class="list-group-item list-group-item-action">Windows</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Mac</a>
    </div>
</div>

{% endblock %}